.icon-bar {
  padding-top: 20px;
  padding-left: 60px;
  background-color: #141414;
  color: white;
  font-size: 35px;
  font-weight: 900;
  width: 91%;
}

.tmdb-icon {
  display: flex;
  cursor: pointer;
  width: fit-content;
}

.tm {
  display: flex;
  align-items: center;
}

.white-bar {
  width: 80px;
  height: 22px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 767.98px) {
  .icon-bar {
    width: max-content;
  }
}
